<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <label for="sidebar-checkbox" class="sidebar-toggle"></label>

          <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small> &nbsp <a href="mailto:aaronr@z-pulley.com"><i class="fa fa-envelope"></i></a> &nbsp <a href="https://github.com/aaronr/"><i class="fa fa-github"></i></a> &nbsp <a href="https://twitter.com/reprojected"><i class="fa fa-twitter"></i></a> &nbsp <a href="https://www.flickr.com/photos/racicot"><i class="fa fa-flickr"></i></a> &nbsp <a href="https://www.instagram.com/reprojected/"><i class="fa fa-instagram"></i></a> &nbsp <a href="https://www.linkedin.com/in/aaronracicot"><i class="fa fa-linkedin"></i></a> &nbsp <a href="https://www.youtube.com/user/reprojected"><i class="fa fa-youtube"></i></a> &nbsp <a href="http://reprojected.com"><i class="fa fa-pencil"></i></a>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

  </body>
</html>
